.main {
    background-image: url("../images/seimas.jpg");
    object-fit: fill;
    background-size: cover;
}

body {
    margin: 0;
    color: #6a6f8c;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

.navbar {

    min-height: 5rem;

}

.nav-link {

    color: white;
}

.nav-item {

    padding-left: 4rem;

}


.navbar-brand {

    color: white;
    padding-left: 4rem;


}

.inset {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding-right: 6rem;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
}

.navbar-text {

    padding-right: 4rem;
}

.my-profile {
    position: absolute;
    height: 40rem;
    width: 50rem;
    top: 50%;
    left: 50%;
    padding: 68px 60px 80px 60px;
    background: rgba(40, 57, 101, .9);
    transform: translate(-50%, -45%);
    border-radius: 25px;
}

.fighter {

    background: rgba(40, 57, 101, .9);
    border-radius: 100px;
    padding: 1rem;

}

.allfighters {

    padding: 0.5rem;

}